// TODO: Update haw's version of stylus and use a hash.
TAG_COLOR_NAMES = 'black' 'white' 'red' 'orange' 'yellow' 'green' 'blue' 'purple'
TAG_COLORS = black white red orange yellow green blue purple

.classifier
  .subject
    display: table
    height: 640px

  .image-container
    display: table-cell
    vertical-align: middle
    width: 640px

    .marking-surface
      background: rgba(MEDIUM_GRAY, 0.25)
      display: block
      height: 480px // Changes depending on the subject
      width: 640px

      svg
        display: block
        width: 100%

    .marking-tool-root
      // Hack to prevent nib's opacity mixin property from overriding the filter property.
      OPACITY = 'opacity '
      {OPACITY}: 1
      color: white

      &.invalid
        color: yellow

        &:not(.selected) .disc
          fill: red

  .subject-options
    color: white
    text-shadow:
      0 0 2px black,
      0 0 2px black,
      0 0 2px black,
      0 0 2px black,
      0 0 2px black

  .subject-option
    font-size: 18px
    padding: 0.5em

    &:hover
      color: yellow

    &.selected
      color: yellow

  .details-editor
    box-shadow: -33px 0 50px -50px black
    display: table-cell
    height: 100%
    padding: 10px 30px
    position: relative
    text-align: center
    vertical-align: middle

  .state
    position: relative

  button[name="delete-mark"]
    border: 2px solid
    border-radius: 50%
    color: LIGHT_GRAY
    height: 1.5em
    line-height: 1
    opacity: 0.33
    position: absolute
    right: 30px
    top: 15px
    width: 1.5em

    &:hover
      color: red
      opacity: 1

  .pointer-icon
    color: rgba(DARK_GRAY, 0.1)
    font-size: 150px

  button[name="unchoose-animal"]
    font-size: 12px
    left: 30px
    padding: 0.25em 1em
    position: absolute
    top: 20px

  .required
    color: REDDISH
    font-size: 10px
    font-weight: BOLD
    letter-spacing: 1px
    text-transform: uppercase

  .incomplete-marks
    color: REDDISH
    font-size: 12px
    font-weight: BOLD

  .animal-preview
    border-radius: 50%
    height: 30px
    vertical-align: middle
    transition: height 0.25s, width 0.25s

  .animal-label
    font-size: 12px
    font-weight: BOLD
    letter-spacing: 2px
    margin: 0.5em 0 2em
    text-transform: uppercase
    transition: font-size 0.25s, margin-top 0.25s

  &[data-state*="what-kind"]
    button[name="unchoose-animal"]
      display: none

    .animal-preview
      height: 150px

    .animal-label
      font-size: 16px
      margin-top: 1em

  button[name="finish-subject"],
  button[name="finish-selection"],
  button[name="confirm-animal"]
    @extends #_STANDARD_BUTTON
    background: BLUEISH
    border: 0
    // bottom: 0
    color: white
    display: block
    // left: 50%
    margin: 2em auto 0
    padding: 1em 0
    // position: absolute
    // transform: translateX(-50%)
    width: 80% // Eyeball this against the animal buttons

  button[name="animal"]
    @extends #_STANDARD_BUTTON
    border-color: LIGHT_GRAY
    color: LIGHT_GRAY
    font-size: 14px
    margin: 5px 3px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    &:active,
    &.selected
      background: LIGHT_GRAY
      border-color: transparent
      color: white

  button[name="animal"]
    padding-left: 0
    padding-right: 0
    width: 45%

  fieldset
    border: 0
    margin: 0.5em 0

  .legend
    color: MEDIUM_GRAY
    font-size: 12px
    margin-botom: 5px
    letter-spacing: 1px
    text-transform: uppercase

  input[name="label"]
    border: 1px solid LIGHT_GRAY
    border-radius: 5px
    box-shadow: 0 1px 3px 0px rgba(black, 0.5) inset
    font-size: 2em
    text-align: center
    width: 150px

  button[name="color"],
  button[name="dots"]
    border-radius: 50%
    box-sizing: border-box
    color: LIGHT_GRAY
    height: 15px
    line-height: 0
    margin: 0 5px
    overflow: hidden
    vertical-align: middle
    width: 15px

    &:not([value])
      font-size: 20px

    &[value]
      color: transparent

  button[name="color"]
    &[value].selected
        transform: scale(1.5)

    for name, i in TAG_COLOR_NAMES
      &[value={s('"%s"', unquote(name))}]
        background: TAG_COLORS[i]

    &[value="white"]
      border: 1px solid LIGHT_GRAY

  button[name="dots"]
    &[value]
      border: 2px solid LIGHT_GRAY

      &.selected
        background: LIGHT_GRAY

  .checkbox-group
    padding: 0.5em 0

    & + .checkbox-group
      border-left: 1px solid LIGHT_GRAY
      margin-left: 1em
      padding-left: 1em

  label + label
      margin-left: 1em

  .loader
    color: white
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  .spinner
    font-size: 100px
    text-shadow: 0 0 1px white, 0 0 2px white

  .no-more-subjects
    color: white
    left: 50%
    position: absolute
    text-align: center
    text-shadow:
      0 1px 1px black,
      0 1px 2px black
    top: 50%
    transform: translate(-50%, -50%)
