.classifier
  .subject
    display: table

  .image-container
    display: table-cell
    vertical-align: middle
    // width: 75%

    .marking-surface
      height: 512px
      width: 640px
      max-width: 100%

  .details-editor
    display: table-cell
    padding: 0 15px 0 20px
    vertical-align: top
    // width: 25%

    button
      @extends #_STANDARD_BUTTON

      &.selected
        background: black
        color: white
