#_SUMMARY_BUTTON
  @extends #_STANDARD_BUTTON
  font-size: 12px
  letter-spacing: 1px
  margin: 1em 0
  text-transform: uppercase

.classification-summary
  background: rgba(#000, 0.8)
  bottom: 0
  color: #fff
  font-size: 16px
  left: 0
  opacity: 1
  overflow: auto
  position: fixed
  right: 0
  text-align: center
  top: 0
  transition: opacity 0.5s
  z-index: 2

  &.offscreen
    opacity: 0

  .summary-container
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  .heading
    letter-spacing: 2px
    text-transform: uppercase

  .subheading
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase
    overflow: hidden

  .subheading-content
    position: relative

    &:before,
    &:after
      border-top: 1px solid
      content: ""
      margin: 0 0.5em
      position: absolute
      top: 50%
      width: 1080px

    &:before
      right: 100%

    &:after
      left: 100%

  .no-condors,
  .no-other-animals
    font-style: italic
    margin: 2em auto
    opacity: 0.67

  .condors,
  .other-animals
    display: table
    margin: 2em auto
    table-layout: fixed

  .condor-summary,
  .other-animal-summary
    display: table-cell
    margin: 0 1em
    padding: 0 20px
    width: 1%

  .condor-tag
    background: white
    border-radius: 50%
    color: black
    height: 100px
    margin: 1em auto
    position: relative
    width: 100px

  .condor-tag-info
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  .condor-tag-label
    font-size: 24px

  .unknown-condor
    font-size: 10px
    font-weight: bold
    letter-spacing: 1px
    text-transform: uppercase

    & + .condor-tag-label
      display: none

  .bio-link
    @extends #_SUMMARY_BUTTON

  .other-animal-count
    font-size: 30px

  .other-animal-label
    font-size: 12px
    text-transform: uppercase

  .dismissal
    border-top: 1px solid
    display: table
    text-align: left
    width: 100%

  .question,
  .answer
    display: table-cell

  .answer
    text-align: right

  button[name="dismiss"]
    @extends #_SUMMARY_BUTTON
