#_SUMMARY_BUTTON
  @extends #_STANDARD_BUTTON
  font-size: 12px
  letter-spacing: 1px
  margin: 1em 0
  padding: 0.75em 2em
  text-transform: uppercase

.classification-summary
  background: rgba(#000, 0.8)
  bottom: 0
  color: #fff
  font-size: 16px
  left: 0
  opacity: 1
  overflow: auto
  position: fixed
  right: 0
  text-align: center
  top: 0
  transition: opacity 0.5s
  z-index: 2

  &.offscreen
    opacity: 0

  .summary-container
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  hr
    border-top: 1px solid
    margin: 2em 0

  .heading
    letter-spacing: 2px
    text-transform: uppercase

  .subheading
    @extends #_SIDE_RULED
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase

  .no-condors,
  .no-other-animals
    font-style: italic
    margin: 2em auto
    opacity: 0.67

  .condors
    margin: 2em auto
    white-space: nowrap

  .condor-summary
    display: inline-block
    margin: 0 10px
    white-space: normal

  .condor-tag
    background: white
    border-radius: 50%
    color: black
    height: 100px
    margin: 1em auto
    position: relative
    width: 100px

  .condor-tag-info
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)

  .unknown-condor-label
    display: none
    font-size: 10px
    font-weight: BOLD
    letter-spacing: 1px
    text-transform: uppercase

  .condor-tag-label
    font-size: 24px

  .unknown-condor
    .unknown-condor-label
      display: block

    .condor-tag-prefix,
    .condor-tag-label
      display: none

  .condor-bio-link
    @extends #_SUMMARY_BUTTON

  .other-animals
    display: table
    margin: 2em auto
    table-layout: fixed

  .other-animal-summary
    display: table-cell
    padding: 0 20px
    width: 20%

  .other-animal-count
    font-size: 30px

  .other-animal-label
    font-size: 12px
    text-transform: uppercase

  .dismissal
    display: table
    text-align: left
    width: 100%

  .question,
  .answer
    display: table-cell

  .answer
    padding-left: 1em
    text-align: right

  button[name="dismiss"]
    @extends #_SUMMARY_BUTTON
