MAIN_FONT_FAMILY = Lato, sans-serif

SITE_WIDTH = 90%

DARK_GRAY = rgb(39, 48, 56)
MEDIUM_GRAY = rgb(76, 83, 93)
LIGHT_GRAY = rgb(136, 143, 153)

BLUEISH = rgb(99, 188, 246)

#_STANDARD_BUTTON
  border: 1px solid
  border-radius: 0.25em
  display: inline-block
  margin: 0 0.2em
  padding: 0.4em 1.6em
  transition: background 150ms, color 150ms
  vertical-align: middle

#_TOGGLE_BUTTON
  @extends #_STANDARD_BUTTON

  border-right-width: 0
  border-radius: 0
  margin: 0

  &:first-child
    border-radius: 0.3em 0 0 0.3em

  &:last-child
    border-radius: 0 0.3em 0.3em 0
    border-right-width: 1px

  &.selected
    box-shadow: 0 0 1.5em inset

// Manual griddage
// Set something like {float: left; margin-right: unit(GUTTER_WIDTH, 'px'); width: columns(4);}
COLUMNS = 16
COLUMN_WIDTH = 40
GUTTER_WIDTH = 20
GRID_WIDTH = ((COLUMN_WIDTH + GUTTER_WIDTH) * COLUMNS) - GUTTER_WIDTH

columns(cols)
  unit(((cols * (COLUMN_WIDTH / GRID_WIDTH)) + ((cols - 1) * (GUTTER_WIDTH / GRID_WIDTH))) * 100, '%')
