SITE_WIDTH = 90%

DARK_GRAY = rgb(39, 48, 56)
MEDIUM_GRAY = rgb(76, 83, 93)
LIGHT_GRAY = rgb(136, 143, 153)

BLUEISH = rgb(99, 188, 246)
REDDISH = desaturate(red, 50%)

BOLD = 900
REGULAR = 400
LIGHT = 300

#_STANDARD_BUTTON
  border: 1px solid
  border-radius: 0.25em
  display: inline-block
  margin: 0 0.2em
  padding: 0.4em 1.6em
  transition: background 150ms, color 150ms
  vertical-align: middle

#_TOGGLE_BUTTON
  @extends #_STANDARD_BUTTON

  border-right-width: 0
  border-radius: 0
  margin: 0

  &:first-child
    border-radius: 0.3em 0 0 0.3em

  &:last-child
    border-radius: 0 0.3em 0.3em 0
    border-right-width: 1px

  &.selected
    box-shadow: 0 0 1.5em inset

#_SIDE_RULED
  overflow: hidden

  > .content
    position: relative

    &:before,
    &:after
      border-top: 1px solid
      content: ""
      margin: 0 0.5em
      position: absolute
      top: 50%
      width: 1080px

    &:before
      right: 100%

    &:after
      left: 100%

#_COLUMN
  float: left
  margin: 1em 0 1em 3em

  img,
  svg
    max-width: 100%

is-a-column(cols)
  @extends #_COLUMN

  column-width = unit(100 / cols, '%')
  width: "calc(%s - 3em)" % column-width

  &:nth-of-type({cols}n + 1)
    clear: left
    margin-left: 0
