.condor-bio-page
  margin: 0 auto
  font-size: 16px
  text-align: center
  width: 50%

  a
    font-weight: BOLD

  .heading
    font-size: 36px
    font-weight: BOLD

  .title
    color: BLUEISH
    font-size: 12px
    font-weight: BOLD
    letter-spacing: 2px
    margin-bottom: 0.5em
    text-transform: uppercase;

  .detail
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase

  .minor
    color: LIGHT_GRAY
    font-style: italic

  .infos
    border-bottom: 1px solid rgba(LIGHT_GRAY, 0.5)
    display: table
    table-layout: fixed
    width: 100%

  .info
    border-left: 1px solid rgba(LIGHT_GRAY, 0.5)
    display: table-cell
    padding: 1.5em 1em
    vertical-align: top

    &:first-child
      border-left-width: 0
