.marking-tool-controls
  ARROW_SIZE = 15

  font-size: 12px
  text-align: center
  margin: unit(((ARROW_SIZE * 2) + 10), px) 0

  &:before
    border: unit(ARROW_SIZE, px) solid transparent
    content: ""
    left: 50%
    margin-left: unit((-1 * ARROW_SIZE), px)px
    position: absolute

  &.opens-right
    transform: translateX(-50%)

  &.opens-left
    transform: translateX(50%)

  &.opens-up:before
    border-bottom-width: 0
    border-top-color: rgba(#fff, 0.8)
    top: 100%

  &.opens-down:before
    border-bottom-color: rgba(#fff, 0.8)
    border-top-width: 0
    bottom: 100%

  .step
    background: rgba(#fff, 0.8)
    border-radius: 5px
    box-shadow: 0 3px 10px rgba(#000, 0.2)
    width: 200px

  header
    font-size: 10px
    font-weight: bold
    letter-spacing: 1px
    padding: 10px
    text-transform: uppercase

  button[name="close"]
    height: 1.5em
    line-height: 1
    position: absolute
    right: 0
    top: 0
    width: 1.5em

    &:hover
      color: #f00

  .part
    margin: 5px

  label.enclosed
    background: #fff
    border: 1px solid rgba(#000, 0.5)
    border-radius: 3px
    display: inline-block
    padding: 5px

    > span
      font-size: 10px
      font-weight: bold
      opacity: 0.5
      text-transform: uppercase

    > input
      background: transparent
      border: 0
      font-size: 20px
      margin: 0
      padding: 0 5px
      text-align: right
      width: 60px

  footer
    padding: 10px

    button
      @extends #_STANDARD_BUTTON
      background: #fff

      &[name="delete-marking-tool"]
        background: transparent
        border-color: transparent
