.condor-bio-page
  margin: 0 auto
  font-size: 16px
  text-align: center
  width: 50%

  a
    font-weight: bold

  .heading
    font-size: 36px
    font-weight: bold

  .not-applicable
    color: LIGHT_GRAY
    font-style: italic

  .sex
    font-size: 12px
    text-transform: uppercase

  .infos
    border-bottom: 1px solid rgba(LIGHT_GRAY, 0.5)
    display: table
    table-layout: fixed
    width: 100%

  .info
    border-left: 1px solid rgba(LIGHT_GRAY, 0.5)
    display: table-cell
    padding: 1.5em 0
    vertical-algin: top

    &:first-child
      border-left-width: 0

    .title
      color: BLUEISH
      font-size: 12px
      font-weight: bold
      letter-spacing: 2px
      margin-bottom: 0.5em
      text-transform: uppercase;
