.field-guide
  .framed
    margin: 0 0.5em

  .tags img,
  .condorOrVulture img,
  .markingOther img
    display: block
    margin: 0 auto
    max-width: 80%

  .focused
    text-align: center

    img
      margin: 0 1em
      max-width: 45%
