.site-navigation .for-home-page
  margin: 0 auto
  overflow: hidden
  width: SITE_WIDTH

  > header
    width: columns(10)

  .action
    font-size: 16px

  .call-to-action
    @extends #_STANDARD_BUTTON

.home-page
  color: inherit
