.site-navigation .for-home-page
  margin: 50px auto
  overflow: hidden
  width: SITE_WIDTH

  .content-block
    width: columns(10)

  .action
    font-size: 16px

  .call-to-action
    @extends #_STANDARD_BUTTON

  .social-links
    float: right
    font-size: 30px

  .social-icon
    margin: 0 0.25em

.home-page
  color: inherit

  .zooniverse-footer
    margin: 3rem 0
