.individual-image
  IMAGE_WIDTH = 675px
  IMAGE_HEIGHT = 375px

  left: 0
  opacity: 0.33
  pointer-events: none
  position: absolute
  top: 0
  width: 100%
  transform: translateY(-50%)
  transition: opacity 0.5s ease-in-out

  button[name="toggle-original"]
    bottom: 3px
    padding: 0 3px
    position: absolute
    right: 3px

  .image-container
    background: MEDIUM_GRAY
    border-radius: 5px
    position: relative

  .other-image
    display: block
    height: IMAGE_HEIGHT
    margin: 0 auto
    width: IMAGE_WIDTH

  .instructions
    padding: 0.5em 0
    border-top: 1px solid rgba(#fff, 0.5)

    &:first-child
      border-top: 0

  .step
    font-size: 12px
    opacity: 0.5

  .faux-range-input
    border: 1px solid
    box-shadow: 0 1px 3px #000

  .original-image
    height: IMAGE_HEIGHT
    left: 50%
    opacity: 0
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    transition: opacity 0.25s ease-in-out
    width: IMAGE_WIDTH

    svg,
    use
      height: 100%
      width: 100%

  &.showing-original
    button[name="toggle-original"]
      background: rgba(BLUEISH, 0.5)

    .original-image
      opacity: 1
