.individual-image
  left: 0
  opacity: 0.33
  pointer-events: none
  position: absolute
  top: 0
  width: 100%
  transform: translateY(-50%)
  transition: opacity 0.5s ease-in-out

  .image-container
    background: MEDIUM_GRAY
    border-radius: 5px

  .other-image
    display: block
    height: 375px
    margin: 0 auto
    width: 675px

  .instructions
    margin: 0.5em 0

  .step
    font-size: 12px
    opacity: 0.5

  .faux-range-input
    border: 1px solid
    box-shadow: 0 1px 3px #000