html
  color: MEDIUM_GRAY
  font: 16px MAIN_FONT_FAMILY
  font-weight: 400
  height: 100%
  overflow-x: auto
  overflow-y: scroll
  position: relative

body
  margin: 0

.content-block
  padding: 1rem 0 1.5rem

  &.reversed
    background: DARK_GRAY
    color: #fff

.content-container
  clearfix()
  margin: 0 auto
  width: SITE_WIDTH

.quarter-column
  float: left
  width: columns(4)
  margin-right: unit((GUTTER_WIDTH / GRID_WIDTH) * 100, '%')
  margin-bottom: 1rem

  &:nth-child(4n)
    margin-right: 0

  img,
  svg
    max-width: 100%

.instructions
  display: table
  width: 100%

  .question
    display: table-cell
    padding-right: 1em
    text-align: left
    vertical-align: middle

  .answers
    display: table-cell
    text-align: right
    vertical-align: middle
    white-space: nowrap

    button
      @extends #_STANDARD_BUTTON

h1
  font-size: 42px
  font-weight: 300
  margin: 3rem 0

  & ~ p
    font-size: 18px
    font-weight: 300
    margin: 3rem 0

h2
  font-size: 18px
  // font-weight: 900
  letter-spacing: 2px
  margin: 2rem 0
  text-transform: uppercase

  & ~ p
    font-size: 28px
    font-weight: 300
    margin: 2rem 0

.caption
  font-size: 12px

hr
  border: 1px solid transparent
  border-top-color: inherit

a
  color: inherit
  text-decoration: none

button
  appearance: none
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0

  &:disabled
    opacity: 0.5
    pointer-events: none

.faux-range-input
  background: DARK_GRAY
  border: 0
  border-radius: 10px
  height: 10px
  vertical-align: -1px

.faux-range-track
  left: 6px
  right: 6px

.faux-range-thumb
  background: #fff
  border: 4px solid BLUEISH
  height: 8px
  margin: -8px 0 0 -8px
  transition: left 0.125s ease-out
  width: 8px

.faux-range-tick
  background: #fff
  border-radius: 50%
  height: 4px
  margin-left: -2px
  top: 3px
  width: 4px
