html
  background: white
  color: MEDIUM_GRAY
  font: 16px Lato, sans-serif
  font-weight: REGULAR
  height: 100%
  overflow-x: auto
  overflow-y: scroll
  position: relative

body
  margin: 0

.content-block
  padding: 1em 0 2em

  &.reversed
    background: DARK_GRAY
    color: #fff

.content-container
  clearfix()
  margin: 0 auto
  max-width: 1080px
  width: SITE_WIDTH

.half-column
  is-a-column: 2

.quarter-column
  is-a-column: 4

.caption
  font-size: 12px

h1
  font-size: 42px
  font-weight: LIGHT
  margin: 0.5em 0

  & ~ p
    font-size: 18px
    font-weight: LIGHT
    line-height: 26px
    margin: 1.5em 0

h2
  font-size: 18px
  // font-weight: BOLD
  letter-spacing: 2px
  margin: 1.5em 0
  text-transform: uppercase

  & ~ p
    font-size: 28px
    font-weight: LIGHT
    line-height: 40px
    margin: 1em 0

.aux
  font-size: 1rem
  font-weight: REGULAR
  letter-spacing: 0
  text-transform: none

figure
  margin: 0

figcaption
  font-weight: BOLD
  font-size: 12px

hr
  border: 1px solid transparent
  border-top-color: inherit
  clear: both
  margin: 2em 0

a
  color: inherit
  text-decoration: none

button
  appearance: none
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  text-shadow: inherit

  &::-moz-focus-inner
    margin: -1px

a:not([href]),
button:disabled
  opacity: 0.5
  pointer-events: none

.centered
  margin-left: auto
  margin-right: auto
  text-align: center

.framed
  border: 2px solid white
  border-radius: 50%
  box-shadow: 0 0 0 2px rgba(BLUEISH, 0.5)

.label-table
  display: table
  margin: 0 auto
  text-align: left

  & > label
    display: table-row

    & > *
      display: table-cell
      padding: 0 0.1em
