.marking-tool-controls
  transform: translate(72px, -72px)

  &:not(.tool-selected)
    display: none

  button[name="toggle"]
    background: black
    border: 2px solid white
    color: white
    border-radius: 50%
    height: 1.5em
    line-height: 1
    width: 1.5em
