// TODO: Update haw's version of stylus and use a hash.
TAG_COLOR_NAMES = 'black' 'white' 'red' 'orange' 'yellow' 'green' 'blue' 'purple'
TAG_COLORS = black white red orange yellow green blue purple

.marking-tool-controls
  ARROW_SIZE = 10

  background: rgba(#fff, 0.8)
  border-radius: 5px
  box-shadow: 0 3px 10px rgba(#000, 0.5)
  display: none
  font-size: 12px
  text-align: center
  transition:
    margin-left 0.67s ease-in-out, // Faux-easing
    transform 0.5s ease-in-out
  width: 300px

  &.tool-selected
    display: block

  &:before
    border: unit(ARROW_SIZE, px) solid transparent
    content: ""
    margin-top: unit(-1 * ARROW_SIZE, px)
    position: absolute
    top: 50%

  &.opens-right
    margin-left: 50px
    transform: translate(0, -50%)

    &:before
      border-right-color: rgba(#fff, 0.8)
      border-left-width: 0
      right: 100%

  &.opens-left
    margin-left: -50px
    transform: translate(-100%, -50%)

    &:before
      border-left-color: rgba(#fff, 0.8)
      border-right-width: 0
      left: 100%

  .marking-tool-controls-controller
    transition: height 0.25s ease-in-out;

  section
    border-top: 1px solid #999
    padding: 10px
    position: relative
    transition:
      left 0.25s ease-in-out,
      opacity 0.25s ease-in-out

    &.hidden
      opacity: 0
      z-index: -1

      &.before
        left: -10px

      &.after
        left: 10px

  footer
    border-top: 1px solid #999
    padding: 10px
    text-align: center

    button
      @extends #_STANDARD_BUTTON
      background: #fff

  header
    font-weight: bold
    overflow: hidden
    padding: 10px
    position: relative

  button[name="to-select"]
    height: 1em
    left: 10px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    transition:
      left 0.25s ease-in-out,
      opacity 0.25s ease-in-out
    width: 1em

    &.hidden
      left: -10px
      opacity: 0
      pointer-events: none

  .selected-animal-example
    border-radius: 50%
    box-shadow: 0 1px 1px rgba(#fff, 0.75)
    height: auto
    transition:
      height 0.5s ease-in-out,
      width 0.5s ease-in-out
    vertical-align: middle
    width: 40px

    &.major
      margin: 0 auto
      width: 150px
      height: auto

  .selected-animal-label
    display: inline-block
    transition:
      opacity 0.5s ease-in-out,
      max-width 0.5s ease-in-out
    white-space: nowrap
    max-width: 80px // Or thereabout!

    &.hidden
      opacity: 0
      max-width: 0

  .what-kind
    label
      display: inline-block
      margin: 5px 2px
      width: 45%

    button
      @extends #_STANDARD_BUTTON
      background: white
      width: 100%

      &.selected
        background: MEDIUM_GRAY
        color: white

  .condor-tag
    display: block

  button[name="dots"]
    line-height: 1
    opacity: 0.5
    padding: 2px 3px

    &[value="0"],
    &.selected
      opacity: 1

  button[name="tag-color-toggle"]
    @extends #_STANDARD_BUTTON
    background: white

    .tag-color-swatch
      border: 1px solid gray
      border-radius 50%
      display: inline-block
      height: 1em
      margin-left: 2px
      vertical-align: middle
      width: 1em

    for name, i in TAG_COLOR_NAMES
      &[data-tag-color={s('"%s"', unquote(name))}] .tag-color-swatch
        background: TAG_COLORS[i]

.tag-color-menu
  background: rgba(white, 0.9)
  border-radius: 3px
  color: black
  padding: 3px

  button[name="tag-color"]
    border: 4px solid transparent
    border-radius: 50%
    color: transparent
    float: left
    height: 2em
    margin: 3px
    overflow: hidden
    width: 2em

    for name, i in TAG_COLOR_NAMES
      &[value={s('"%s"', unquote(name))}]
        background: rgba(TAG_COLORS[i], 0.9)

    &[value="white"]
      border-color: rgba(gray, 0.5)

    &:hover
      border-color: BLUEISH

    &.selected
      border-color: black

  .set-of-three
    clear: left
    display: block
