.marking-tool-controls
  ARROW_SIZE = 15

  background: rgba(#fff, 0.8)
  border-radius: 5px
  box-shadow: 0 3px 10px rgba(#000, 0.2)
  display: none
  font-size: 12px
  margin-top: unit(((ARROW_SIZE * 2) + 10), px)
  text-align: left
  transform: translate(-50%, 0)
  transition:
    margin-top 0.5s ease-in-out,
    transform 0.5s ease-in-out
  width: 300px

  &.tool-selected
    display: block

  &:before
    border: unit(ARROW_SIZE, px) solid transparent
    content: ""
    left: 50%
    margin-left: unit((-1 * ARROW_SIZE), px)px
    position: absolute

  &.opens-down:before
    border-bottom-color: rgba(#fff, 0.8)
    border-top-width: 0
    bottom: 100%

  &.opens-up
    margin-top: unit(((ARROW_SIZE * -2) - 10), px)
    transform: translate(-50%, -100%)

    &:before
      border-bottom-width: 0
      border-top-color: rgba(#fff, 0.8)
      top: 100%

  header
    font-weight: bold
    padding: 10px

  section
    padding: 10px

  .selected-animal-example
    border-radius: 50%
    display: inline-block
    height: 60px
    margin: 10px
    width: 60px

  footer
    padding: 10px
    text-align: center

    button
      @extends #_STANDARD_BUTTON
      background: #fff
