.presence-inspector
  background: rgba(#000, 0.8)
  bottom: 0
  color: #fff
  left: 0
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out

  &.offscreen
    opacity: 0
    transform: translateX(100%)

  IMAGES_TO_COMPARE = 6 // Probably only four, though
  INDIVIDUAL_MARGIN = 5

  .all-images
    bottom: 7.5%
    left: 50%
    position: absolute
    top: 3%
    transition: transform 0.5s ease-in-out
    transform: translateX(-50%)
    width: 75%

    for i in 0...IMAGES_TO_COMPARE
      &[data-on-image={s('"%s"', i)}]
        transform: translateX((-50 - (i * (100 + INDIVIDUAL_MARGIN)))%)

        > .individual-image:nth-child({i + 1})
          opacity: 1
          pointer-events: auto

  .individual-image
    display: table
    height: 100%
    left: 0
    opacity: 0.33
    pointer-events: none
    position: absolute
    top: 0
    width: 100%
    transition: opacity 0.5s ease-in-out

    for i in 0...IMAGES_TO_COMPARE
      &:nth-child({i + 1})
        left: (i * (100 + INDIVIDUAL_MARGIN))%

    > div
      display: table-row

      > div
        display: table-cell

  .image-container
    text-align: center

  .image-wrapper
    height: 100%
    position: relative
    width: 100%

    img
      position: absolute
      left: 50%
      top: 50%
      max-height: 100%
      max-width: 100%
      transform: translate(-50%, -50%)

  .image-options
    height: 1%
    text-align: center

    table
      margin: 0 auto

    td
      padding: 3px 5px

  .toggle-button-group
    @extends #_TOGGLE_BUTTON_GROUP

    button
      @extends #_TOGGLE_BUTTON

  .progress
    text-align: center

    button
      @extends #_STANDARD_BUTTON

      margin: 0
      width: 100%

  .step
    font-size: 12px
    opacity: 0.5

  .magnifier
    border: 2px solid #999
    border-radius: 50%
    box-shadow: 0 3px 10px rgba(#000, 0.25)
    cursor: crosshair
    display: none
    height: 150px
    overflow: hidden
    position: absolute
    width: 150px

    &.active
      display: block

  .magnified-image
    position: absolute
