.site-navigation
  background: MEDIUM_GRAY url("./images/nav-bg.jpg") 75% 75%
  background-size: cover
  color: #fff
  font-weight: 300
  overflow: hidden
  position: relative

  .content-container
    margin-top: 50px
    line-height: 1
    text-align: right

  .logo
    float: left
    font-size: 20px
    letter-spacing: 2px
    text-transform: uppercase

  .links a
    display: inline-block
    margin: 0 10px
    padding: 5px 0

    &.active
      border-bottom: 2px solid

.zooniverse-top-bar
  background: transparent
  font-weight: 300
  margin-top: 15px
  margin-right: unit((100 - SITE_WIDTH) / 2, '%')

  .corner
    display: none

  .current-user-name
    font-weight: inherit

  .avatar img
    border-radius: 50%
