.site-navigation
  AVERAGE_BG = ((DARK_GRAY + MEDIUM_GRAY) / 2)

  background: AVERAGE_BG url("./images/nav-bg.jpg") 33% 10%
  background-size: cover
  color: #fff
  overflow: hidden
  position: relative

  .container
    margin: 50px auto 1em
    line-height: 1
    text-align: right
    width: SITE_WIDTH

  .logo
    float: left
    font-size: 20px
    letter-spacing: 2px
    text-transform: uppercase

  .links
    display: inline-block

    a
      display: inline-block
      padding: 5px 10px 0

  // TODO: Move theis to clasify.styl
  [data-location-hash="#/classify"] &
    left: 0
    position: absolute
    right: 0
    top: 0

.zooniverse-top-bar
  background: transparent
  margin-top: 5px

  .corner
    display: none
