.site-navigation
  background: #999
  color: #fff
  height: SITE_NAVIGATION_HEIGHT
  left: 0
  position: absolute
  right: 0
  top: 0

  a
    color: inherit

  .container
    bottom: 20%
    left: 50%
    line-height: 1
    margin-left: (SITE_WIDTH / -2)
    position: absolute
    text-align: right
    width: SITE_WIDTH
    // transition:
    //   margin-left 0.25s ease-in-out,
    //   width 0.25s ease-in-out

  .logo
    float: left
    font-size: 20px
    letter-spacing: 2px
    text-transform: uppercase

  .links
    display: inline-block

    a
      display: inline-block
      padding: 5px 10px 0
