.zootorial-tutorial
  background: MEDIUM_GRAY
  color: white
  font-size: 16px
  line-height: 26px
  padding: 1em
  transition: transform 0.25s
  width: 420px

  .zootorial-close
    height: 1em
    line-height: 1
    position: absolute
    right: 0
    top: 0
    width: 1em

  .zootorial-header
    @extends #_SIDE_RULED
    font-size: 12px
    letter-spacing: 2px
    opacity: 0.67
    text-align: center
    text-transform: uppercase

  .zootorial-instruction
    background: white
    color: MEDIUM_GRAY
    font-weight: BOLD
    margin-top: 1em
    padding: 0 4px
    text-align: center

  .zootorial-footer
    text-align: center
    margin-top: 1em

    button
      @extends #_STANDARD_BUTTON
      padding: 0 1.25em
