.zootorial-tutorial
  background: MEDIUM_GRAY
  color: white
  font-size: 16px
  line-height: 26px
  padding: 1em
  transition: transform 0.25s

  .zootorial-close
    height: 1em
    line-height: 1
    position: absolute
    right: 0
    top: 0
    width: 1em

  .zootorial-footer
    text-align: center

    button
      @extends #_STANDARD_BUTTON
      padding: 0 1.25em
